html, body{
    height:100%;
}

.scroll{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgb(133 133 133 / 10%) 0px -2px 0px -8px inset;
    height:30px;
}

.nav-link.small_text{
    font-size: 16px;
    line-height: 1.5;
    text-decoration:none;
    background-color: transparent !important;
}

.nav-link.small_text:hover{
    background-color: rgb(239, 244, 245) !important;
    position:relative;
    padding:13px 5px;
}

.nav-link.small_text.active{
    color:var(--pancake-secondary) !important;
}

.green-b{
    position:relative;
    padding:13px 5px;
}

.green-b::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left:0;
    height: 4px;
    width: 100%;
    background-color: rgb(31, 199, 212);
    border-radius: 2px 2px 0px 0px;
}

.color{
    color:var(--pancake-main-light) !important;
}
.secondary-v{
    color:var(--pancake-secondary) !important;
}
