/* ---------------------------- START Navbar Section ------------------------ */
html, body{
    overflow-x: hidden;
}
:root{
    --animate-duration: 7s !important;
}
.logo {
    width:60%;
}
a{
    font-size: 16px;
}
.a-padding{
    padding-top:0.2em !important;

}
.navbar-collapse{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-light .navbar-nav .nav-link{
    color: var(--pancake-main-light);
    padding-right: 1rem;
    padding-left: 1rem;
}
.dropdown-item{
    color: var(--pancake-main-light);
    height:45px;
}
.dropdown-toggle::after{
    display:none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 16px;
    min-width:15rem;
}
.navbar{
    border-bottom: 1px solid rgb(231, 227, 235);
}
.dropdown-divider{
    border: 1px solid rgb(231, 227, 235);
}
.dropdown-item:focus, .dropdown-item:hover {
    color: var(--pancake-main-light);
    background-color: rgb(239, 244, 245);
}
.bg-hover:hover{
    background-color: rgb(239, 244, 245);
    border-radius:16px;
}
.nav-link{
    transition: none;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: var(--pancake-main-light);
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: var(--pancake-main-light);
}
.btn-full-small{
    background-color: var(--pancake-primary);
    color:#fff;
    box-shadow: var(--pancake-btn-shadow);
    margin-top:0.3em;
}
.btn{
    opacity:1;
}
.btn:hover{
    color:#fff;
    opacity: var(--pancake-hover-opacity);
}
.kDWlca {    
    fill: var(--pancake-main-dark);
    float:right;
}

.anim a span{
    margin-left:0.3em;
}

.anim a svg{
    transition: transform .2s;
}
.anim a svg:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
.iaPfuZ{
    fill: var(--pancake-main-light);
    margin-right: 0.5rem;
    opacity:1;
}
.iaPfuZ:hover{
    opacity: var(--pancake-hover-opacity);
}
.cSawQi {
    fill: var(--pancake-main-light);
    opacity: 1;
}
.cSawQi:hover{
    opacity: var(--pancake-hover-opacity);
}
.bg-white{
    background-color: #fff;
    width:13rem;
    height:20rem;
    overflow-y:scroll;
    overflow-x:hidden;
}
.langs{
    color:var(--pancake-main-dark);
    opacity: 1;
}
.langs:hover{
    opacity:var(--pancake-hover-opacity);
    background-color: #fff;
}
/* ---------------------------- END Navbar Section ------------------------ */

/* ---------------------------- START Hero Section ------------------------ */
.box-height{
    height:100vh;
    background: var(--bg-gradient-primary);
    padding:0;
}
.box2-height{
    height:90vh;
    background: var(--bg-gradient-primary);    
}
img{
    width:100%;
}
.father{
    position:relative;
    z-index:1;
}
.child2{
    position: absolute;
    top: 0px;
    left: 0px;
}
.child2-child{
    position: relative;
    max-height: 512px !important;
}
.sibling1{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sibling2{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.sibling3{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.kDWlca-ne{
    width:100%;
    fill: var(--pancake-main-dark);
}
.box-svg{
    width:100%;
    height:150px;
    position:relative;
    bottom:11rem;
}
.bottom{
   margin-top:9rem;
   z-index:1;
}
.bottom h1{
    font-size:60px;
    margin-bottom:1.5rem;
    color:var(--pancake-secondary);
}
.bottom h4{
    font-size:20px;
    font-weight:bold;
    margin-bottom:1.5rem;
    color:var(--pancake-main-dark);
}
.btn-full-tall{
    background-color: var(--pancake-primary);
    color:#fff;
    box-shadow: var(--pancake-btn-shadow);
    padding-top:0.7em !important;
    opacity:1;
}
.btn-full-tall:hover{
    opacity:var(--pancake-hover-opacity);
}
.btn-empty{
    color:var(--pancake-primary);
    padding-top:0.7em !important;
    font-weight:bold;
}
.animate__animated.animate__slower {
    -webkit-animation-duration: calc(var(--animate-duration));
    animation-duration: calc(var(--animate-duration));
}

/* ---------------------------- END Hero Section ------------------------ */

/* ---------------------------- START Trade Anything CTA ------------------------ */
/* .container-grande{
    height:100vh;
    background: linear-gradient(139.73deg, #F7F5FF 0%, rgb(250, 249, 250) 100%);
    padding:0;
    position:relative;
    z-index:1;
}
.sub-container{
    height:90vh;
    background: linear-gradient(139.73deg, #F7F5FF 0%, rgb(250, 249, 250) 100%); 
} */
.box-sec{
    background: rgb(250, 249, 250);
}
.box-sec2{
    background:rgb(250, 249, 250); 
}
.diff-col{
    color: var(--pancake-secondary);
}
.bottom2 h2{
    font-size:40px;
    font-weight: bold;
    color: var(--pancake-main-dark);
}
.bottom2 h4{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--pancake-main-light);
}
#border{
    border:none;
}
/* ---------------------------- END Trade Anything CTA ------------------------ */



/* ---------------------------- START Earn Passive Income ------------------------ */
.box-sec3 {
    background-color: #EAF1F5;
    height: 200px;
}
/* ---------------------------- END Earn Passive Income ------------------------ */



/* START Winning Millions */
.win-millions {
    height: 800px;
    background: linear-gradient(#72B8F1, #E9F1F5 );
}
.win-millions-content {
    width: 900px;
    height: 600px;
    background: linear-gradient(#CBE5F9, #F0F7FB );    
    border-radius: 10%;
}
.win-millions-card-1, .win-millions-card-2 {
    width: 250px;
    height: 310px;
}
.win-millions-card-1 {
    transform: rotate(-5deg);
    background: linear-gradient(#FFB338, #FFE76A );    
    border-radius: 5%;
}
.win-millions-card-2 {
    transform: rotate(3deg);
    background: linear-gradient(#7544D8, #5222B2 );    
    border-radius: 5%;
}
.dark-col, .dark-col-2, .dark-col-3 {
    color: #280D5F;
}
.dark-col-2 {
    font-size: 34px;
    font-weight: bold;
}
.white-col, .white-col-2{
    color: white;
}
.yellow-col {
    color: #FEC317;
    font-size: 34px;
    font-weight: 500;
}
.white-col-2 {
    font-size: 15px;
}